@use './variables' as var;

@mixin media-up($breakpoint) {
    $size: map-get(
        $map: var.$breakpoints,
        $key: $breakpoint,
    );

    @media (min-width: $size) {
        @content;
    }
}

@mixin flex-layout($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
