$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$tertiary-color: #ff5722;

$shadow-color: #eeeeee;
$shadow-black-10: #1918251a;
$shadow-card: #0000001a;

$border-black-10: #1918251a;

$text-black: #191825;
$text-black-75: #191825bf;
$text-black-50: #19182580;
$text-hover: #222831;

$background-accent-1: #ffdbd0;
$background-accent-2: #fef5da;

$background-transparent: transparent;
$form-section-bg: #facd4914;

$black: black;
$white: white;

$sidebar-color: #ffd9cd;

$breakpoints: (
    'sm': 430px,
    'md': 1024px,
    'lg': 1440px,
);

$error-text: red;

$error-bg: #ffcccb;
