$primary-color: #5d50c6;
$secondary-color: #f85e9f;

$background-color-white: white;

$text-color-1: #92888a;
$text-color-2: white;
$text-black: black;

$background-accent-1: #ffd9cd;
$background-accent-2: #fef5db;

$background-transparent: transparent;

$black: black;
$white: white;

$breakpoints: (
    'sm': 430px,
    'md': 1024px,
    'lg': 1440px,
);
