$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$tertiary-color: #ff5722;

$background-color-white: white;

$text-color-1: #92888a;
$text-color-2: white;

$shadow-color: #f2eff0;

$text-black: black;
$text-black-75: #191825;

$background-accent-1: #ffd9cd;
$background-accent-2: #fef5db;

$background-transparent: transparent;
$form-section-bg: #fffbf1;

$black: black;
$white: white;

$breakpoints: (
    'sm': 430px,
    'md': 1024px,
    'lg': 1440px,
);
