@use '../abstracts/variables';
@use '../abstracts/fonts';
@use '../abstracts/mixins' as *;

.button {
    border: none;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.05rem;
    background-color: white;

    &--icon-center {
        @include flex-center();
    }

    &--icon-primary {
        color: variables.$primary-color;
        font-size: 1.5rem;
    }

    &--icon-secondary {
        color: variables.$secondary-color;
        font-size: 1.5rem;
    }

    &--text {
        background-color: variables.$background-color-white;
    }

    &--primary {
        background-color: variables.$primary-color;
        color: variables.$text-color-2;
    }
}

.buttonReset {
    background: variables.$background-transparent;
    border: none;
}
