@use '../abstracts/variables' as *;
@use '../abstracts/fonts';
@use '../abstracts/mixins' as *;

.button {
    border: none;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.05rem;
    background-color: white;
    transform: scale(1);
    transition: transform 0.2s linear;

    &:hover {
        transform: scale(1.05);
    }

    &--icon-center {
        @include flex-center();
    }

    &--icon-primary {
        color: $primary-color;
        font-size: 1.5rem;
    }

    &--icon-secondary {
        color: $secondary-color;
        font-size: 1.5rem;
    }

    &--text {
        background-color: $white;
    }

    &--primary {
        background-color: $primary-color;
        color: $white;
    }

    &:focus-visible {
        outline: 2px solid $secondary-color;
        outline-offset: 3px;
    }
}

.buttonReset {
    background: $background-transparent;
    border: none;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid $secondary-color;
        outline-offset: 2px;
    }
}
