@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero-gradient {
    position: absolute;
    width: 420px;
    height: 400px;
    background: $background-accent-1;
    filter: blur(85px);
    border-radius: 50%;
    top: -150px;
    left: -100px;
    z-index: -200;

    @include media-up('md') {
        width: 642px;
        height: 552px;
        left: -200px;
        top: -280px;
    }

    @include media-up('lg') {
        width: 700px;
        height: 700px;
        left: -340px;
        top: -220px;
        filter: blur(70px);
    }
}

.services-gradient {
    display: none;
    position: absolute;

    @include media-up('md') {
        display: block;
        width: 500px;
        height: 700px;
        border-radius: 50%;
        background: $background-accent-2;
        top: -300px;
        right: -400px;
        filter: blur(85px);
    }

    @include media-up('lg') {
        left: unset;
        top: -250px;
        right: -450px;
    }
}
