@use '../abstracts/variables';
@use '../abstracts/mixins' as *;
@use '../components/card';

.features-section {
    margin-top: 95px;
    @include flex-layout(column);
    text-align: center;
    gap: 100px;

    &__content {
        min-height: 1127px;
        @include flex-layout(column, flex-start, center);
        gap: 15px;

        &__description {
            max-width: 316px;
            margin-top: 18px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__card-container {
        @include flex-layout(column, flex-start, flex-start);
        margin-top: 20px;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__image {
        pointer-events: none;
    }
}

@include media-up('md') {
    .features-section {
        margin-top: 125px;
        gap: 66px;

        &__content {
            min-height: auto;
            gap: 18px;

            &__description {
                max-width: 800px;
            }
        }

        &__card-container {
            flex-wrap: nowrap;
            width: 832px;
            text-align: start;

            margin-top: 42px;
            gap: 0;
        }
    }
}

@include media-up('lg') {
    .features-section {
        height: 869px;
        margin-top: 120px;
        @include flex-layout(row-reverse);
        gap: 60px;

        &__content {
            @include flex-layout(column, flex-start, flex-start);
            text-align: start;
            width: 558.58px;

            &__description {
                max-width: 484px;
                margin-top: 16px;
            }
        }

        &__card-container {
            margin-top: 44px;
            width: 559px;
        }
    }
}
