@use '../abstracts/variables';
@use '../abstracts/mixins' as *;
@use '../components/card';

.features-section {
    margin-top: 112px;
    @include flex-layout(column);
    text-align: center;
    gap: 85px;

    &__content {
        height: 1127px;
        @include flex-layout(column);
        gap: 15px;

        &__description {
            padding: 18px 40px 0 40px;
        }
    }

    &__card-container {
        @include flex-layout(column, flex-start, center);
        text-align: start;
        padding-top: 18px;
        gap: 8px;
    }
}

@include media-up('md') {
    .features-section {
        margin-top: 134px;
        gap: 47px;

        &__content {
            gap: 18px;
        }

        &__card-container {
            @include flex-layout(column, flex-start, stretch);
            padding-top: 40px;
            gap: 0;
        }
    }
}

@include media-up('lg') {
    .features-section {
        height: 869px;
        margin-top: 125px;
        @include flex-layout(row-reverse);
        gap: 60px;

        &__content {
            @include flex-layout(column, flex-start, flex-start);
            text-align: start;
            width: 558.58px;

            &__description {
                padding: 16px 30px 0 0;
            }
        }

        &__card-container {
            padding-top: 75px;
        }
    }
}
