@use '../components/buttons';
@use '../abstracts/variables';
@use '../components/gradient';
@use '../abstracts/mixins';

header {
    min-height: 113px;
    background: variables.$background-transparent;
    box-shadow: none;
    @include mixins.flex-layout(row, flex-start, center);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    transition:
        background 0.2s ease,
        box-shadow 0.2s ease;
}

.scrolled {
    background: variables.$white;
    box-shadow: 0px 1px 6px variables.$shadow-color;
}

.navbar {
    width: 100%;
    @include mixins.flex-layout(row, space-between, center);

    &__desktopmenu {
        display: none;
    }

    &__menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        @include mixins.flex-layout(column, flex-start, center);
        gap: 64px;
        background-color: variables.$sidebar-color;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.2s ease-in-out,
            visibility 0.3s linear;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__links-list {
        list-style-type: none;
        @include mixins.flex-layout(column, flex-start, center);
        gap: 32px;
        margin-top: 144px;
    }

    &__link {
        width: 40vw;
        text-align: center;

        & > a {
            display: block;
            color: variables.$text-black-50;
            background: none;
            border-radius: 50px;
            width: 100%;
            padding: 16px;
            font-weight: 700;
            transition:
                color 0.2s ease-in-out,
                background-color 0.2s ease-in-out;

            &:focus-visible {
                outline: 2px solid variables.$secondary-color;
                outline-offset: 2px;
            }

            &:hover {
                color: variables.$text-hover;
                background-color: variables.$white;
            }
        }
    }

    &__button-group {
        text-align: center;
        position: fixed;
        top: 33rem;
        right: 0;
        width: 100vw;
        @include mixins.flex-layout(column, flex-start, center);
        gap: 16px;
        background-color: variables.$background-transparent;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.2s ease-in-out,
            visibility 0.3s linear;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__desktop-tabletbutton-group {
        display: none;
    }

    &__menuIcons {
        height: 40px;
        z-index: 2;

        &--openMenu {
            font-size: 40px;
            color: variables.$primary-color;
            cursor: pointer;
            &:focus-visible {
                outline: 2px solid variables.$secondary-color;
                outline-offset: 2px;
            }
        }

        &--crossMenu {
            font-size: 40px;
            color: variables.$primary-color;
            cursor: pointer;
            &:focus-visible {
                outline: 2px solid variables.$secondary-color;
                outline-offset: 2px;
            }
        }
    }

    &__mainLogo {
        z-index: 5;
        height: 40px;

        &:focus-visible {
            outline: 2px solid variables.$secondary-color;
            outline-offset: 2px;
        }
    }

    &__signupButton {
        padding: 16px;
        width: 7rem;
    }

    &__loginButton {
        padding: 16px;
        width: 7rem;
    }
}

@include mixins.media-up('md') {
    .navbar {
        position: sticky;
        justify-content: space-between;

        &__button-group {
            display: none;
        }

        &__mainLogo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &__links-list {
            margin-top: 240px;
            gap: 48px;
        }

        &__desktop-tabletbutton-group {
            display: block;
        }

        &__desktop-tabletsignupButton {
            width: 7rem;
            padding: 17.6px;
        }
        &__desktop-tabletloginButton {
            width: 7rem;
            padding: 17.6px;

            &:hover {
                box-shadow: 1px 1px 5px 2px variables.$shadow-color;
                transition: box-shadow 0.2s linear;
            }
        }
    }
}

@include mixins.media-up('lg') {
    .navbar {
        &__menu {
            display: none;
        }

        &__desktopmenu {
            display: block;
        }

        &__desktoplinks-list {
            display: flex;
            gap: 58px;
            font-weight: 700;
        }

        &__desktoplink {
            & > a {
                color: variables.$text-black-50;

                &:focus-visible {
                    outline: 2px solid variables.$secondary-color;
                    outline-offset: 8px;
                }

                &:hover {
                    color: variables.$text-hover;
                }
            }
        }

        &__menuIcons {
            display: none;
        }

        &__mainLogo {
            position: static;
            transform: none;
        }
    }
}
