@use '../abstracts/mixins' as *;

.newsletter-section {
    padding-top: 915px;
    @include flex-layout(column, flex-start, center);
    text-align: center;
    gap: 33px;

    &__title {
        padding: 0 30px;
    }

    &__sub-title {
        padding: 0 40px;
    }

    &__form {
        width: 334px;

        padding-top: 30px;
        position: relative;
        @include flex-layout(column, flex-start, stretch);
        gap: 30px;

        &__icon {
            font-size: 20px;
            position: absolute;
            top: 55px;
            left: 33px;
        }

        &--email-input {
            padding-left: 70px;
            height: 72px;
            border: none;
            border-radius: 15px;

            &::placeholder {
                font-size: 14px;
                font-weight: 700;
                color: #191825;
            }
        }

        &--submit-button {
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 15px;
            font-size: 1rem;
        }
    }

    &__graphic {
        display: none;
    }
}

@include media-up('md') {
    .newsletter-section {
        background-color: #fffbf1;
        padding: 132px 0;
        border-radius: 20px;
        margin-top: 530px;

        &__sub-title {
            padding: 0 70px;
        }

        &__form {
            width: 769px;
            flex-direction: row;
            justify-content: center;

            &__icon {
                font-size: 26px;
                top: 65px;
            }

            &--email-input {
                width: 502px;
                height: 96px;
                padding-left: 78px;

                &::placeholder {
                    font-size: 23px;
                }
            }

            &--submit-button {
                border-radius: 35px;
                width: 235px;
                padding: 40px 0;
                font-size: 1.43rem;
            }
        }

        &__graphic {
            position: absolute;
            display: block;
            top: 6512px;
            left: 26px;
        }
    }
}

@include media-up('lg') {
    .newsletter-section {
        margin-top: 775px;

        &__sub-title {
            padding: 0 160px;
            font-size: 3.43rem;
            line-height: 4.12rem;
        }

        &__form {
            width: 1064.65px;
            gap: 80px;

            &__icon {
                left: 40px;
            }

            &--email-input {
                padding-left: 85px;
                width: 765.65px;
            }

            &--submit-button {
                width: 235px;
            }
        }

        &__graphic {
            top: 4270px;
            left: 95px;
        }
    }
}
