@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.input-error {
    background-color: $error-bg;
    border: 2px solid $error-text !important;
}

.email-error-msg {
    color: $error-text;
    font-size: 1rem;
    margin-top: 4px;
}

.newsletter-section {
    margin-top: 175px;
    @include flex-layout(column, flex-start, center);
    text-align: center;
    padding: 0 32px;
    gap: 33px;

    &__sub-title {
        padding: 0 1px;
    }

    &__form {
        width: 334px;
        height: 171px;
        margin-top: 28px;
        position: relative;
        @include flex-layout(column, flex-start, stretch);
        gap: 32px;
    }

    &__icon {
        font-size: 20px;
        position: absolute;
        top: 28px;
        left: 33px;
    }

    &__email-input {
        width: 334px;
        padding-left: 70px;
        height: 72px;
        border: 1px solid $border-black-10;
        border-radius: 15px;
        font-size: 1.4rem;

        &::placeholder {
            font-size: 14px;
            font-weight: 700;
            color: $text-black-75;
        }

        &:focus-visible {
            outline: 3px solid $secondary-color;
            outline-offset: 3px;
        }
    }

    &__submit-button {
        padding: 25px 0;
        border-radius: 16px;
        font-size: 1rem;

        &:focus-visible {
            outline: 3px solid $secondary-color;
            outline-offset: 3px;
        }
    }

    &__graphic {
        display: none;
    }
}

@include media-up('md') {
    .newsletter-section {
        position: relative;
        background-color: $form-section-bg;
        padding: 128px 64px;
        border-radius: 35px;
        margin-top: 104px;

        &__sub-title {
            max-width: 757px;
        }

        &__form {
            width: 769px;
            height: 96px;
            @include flex-layout(row, center, stretch);
            margin-top: 31px;
        }

        &__icon {
            font-size: 26px;
            top: 35px;
        }

        &__email-input {
            border: none;
            width: 502px;
            height: 96px;
            padding-left: 78px;

            &::placeholder {
                font-size: 23px;
            }
        }

        &__submit-button {
            border-radius: 30px;
            width: 235px;
            padding: 40px 0;
            font-size: 1.43rem;
        }

        &__graphic {
            position: absolute;
            display: block;
            top: -48px;
            left: -36px;
        }
    }
}

@include media-up('lg') {
    .newsletter-section {
        margin-top: 220px;
        padding-bottom: 122px;

        &__sub-title {
            max-width: 1034px;
            font-size: 3.43rem;
            line-height: 4.12rem;
        }

        &__form {
            margin-top: 33px;
            width: 1065px;
            gap: 60px;
        }

        &__icon {
            left: 32px;
            top: 35px;
        }

        &__email-input {
            padding-left: 78px;
            width: 766px;
        }

        &__submit-button {
            width: 235px;
        }

        &__graphic {
            opacity: 0.1;
            top: -40px;
            left: -35px;
        }
    }
}
