@use '../abstracts/variables';
@use '../abstracts/mixins' as *;
@use '../components/card';

.services-section {
    @include flex-layout(column);
    gap: 25.6px;
    padding-top: 66px;

    &__content {
        @include flex-layout(column);
        gap: 20px;
        text-align: center;
    }

    &__cards {
        @include flex-layout(column);
        gap: 18px;
        padding-top: 2px;
    }
}

@include media-up('md') {
    .services-section {
        padding-top: 128px;
        @include flex-layout(column, flex-start, center);
        gap: 64px;

        &__content {
            & > h1 {
                word-spacing: 5px;
            }
        }

        &__cards {
            padding-top: 0;
            flex-direction: row;
        }
    }
}

@include media-up('lg') {
    .services-section {
        @include flex-layout(row, flex-start, center);
        gap: 0;

        &__content {
            width: 33.5%;
            text-align: start;
            @include flex-layout(column, flex-start, flex-start);
            gap: 20px;
        }

        &__cards {
            width: 66.4%;
            height: 431px;
            gap: 27.2px;
        }
    }
}
