@use '../abstracts/variables';
@use '../abstracts/mixins' as *;
@use '../components/card';

.travel-point-section {
    width: 100%;
    margin-top: 70px;
    @include flex-layout(column);

    &__content {
        @include flex-layout(column, flex-start, center);
        margin-top: 30px;
        gap: 16px;
        text-align: center;

        &__description {
            max-width: 376px;
            margin-top: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__main-img {
        pointer-events: none;
    }

    &__cards-container {
        width: 100%;
        @include flex-layout(column);
        margin-top: 14px;
        gap: 13px;
        flex-wrap: wrap;
    }
}

.travel-point-section-object {
    display: none;
}

@include media-up('md') {
    .travel-point-section {
        margin-top: 127px;
        gap: 5px;

        &__content {
            margin-top: 56px;
            gap: 18px;

            &__description {
                max-width: 720px;
                margin-top: 16px;
            }
        }

        &__tablet-desktop-image {
            margin-left: 31.5px;
        }

        &__cards-container {
            flex-direction: row;
            flex-wrap: wrap;
            width: 832px;
            gap: 32px;
            margin-top: 42px;
        }
    }
}

@include media-up('lg') {
    .travel-point-container {
        position: relative;
        max-width: 1440px;
        margin: auto;
    }

    .travel-point-section {
        @include flex-layout(row, flex-start, stretch);
        margin-left: 0;
        margin-top: 120px;
        max-width: 1321px;
        gap: 0;

        &__content {
            width: 450px;
            margin-top: 28px;
            text-align: start;
            @include flex-layout(column, flex-start, flex-start);
            gap: 20px;

            &__description {
                margin-top: 12px;
            }
        }

        &__tablet-desktop-image {
            margin: 0;
        }

        &__cards-container {
            width: 450px;
            gap: 30px;
            margin-top: 40px;
        }
    }

    .travel-point-section-object {
        display: block;
        position: absolute;
        top: 265px;
        right: 60px;
    }
}
