@use '../abstracts/fonts';
@use '../abstracts/variables';
@use '../abstracts/mixins';

body {
    font-family: 'Roboto';
    font-weight: 400;
}

h2 {
    font-weight: 700;
}

.preset-1 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1.2rem;
    color: variables.$secondary-color;
    letter-spacing: 3.2px;

    @include mixins.media-up('md') {
        letter-spacing: 5.2px;
        font-size: 1.43rem;
        letter-spacing: 0.3rem;
        line-height: 1.7rem;
    }
}

.heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;

    @include mixins.media-up('md') {
        font-size: 3.5rem;
        line-height: 4.2rem;
    }

    @include mixins.media-up('lg') {
        font-size: 4.3rem;
        line-height: 5.1rem;
    }
}

.subHeading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;

    @include mixins.media-up('md') {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    @include mixins.media-up('lg') {
        font-size: 2.8rem;
        line-height: 3.3rem;
    }
}

.para {
    font-size: 1rem;
    font-weight: 400;
    color: variables.$text-color-1;
    line-height: 1.5rem;

    @include mixins.media-up('md') {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}
